# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/

# Docker
*.log
logs/

# Data (we will keep raw data out of git; use .gitkeep for empty dirs)
data/raw/*
data/staging/*
data/curated/*
!data/raw/.gitkeep
!data/staging/.gitkeep
!data/curated/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Secrets
*.pem
*.key